div.area { 
    display: flex; 
    flex-direction: column; 
    align-items: center;
} 

input.area { 
    margin-top: 10px; 
} 

textarea.area { 
    margin-top: 15px; 
    width: 70%; 
}
#global_container {
    height :100vh;
}
#Normalize {
    height :100vh;
}
#myPlot {
    height :100vh;
}

h2 {
    font-family: Roboto, sans-serif;
}